# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

########### andy's additions ###########
# notebook pdfs + files
notebooks/*.pdf
notebooks/.texpadtmp/
notebooks/.ipynb_checkpoints/
notebooks/*.tex
notebooks/*_files/
notebooks/*
*.c
*.so
.texpadtmp
*.bin
*.npy
.DS_Store
experiments/redshift/cache/redshift_samples*
experiments/redshift/cache_remote/

#tex imgs
tex/imgs/*
tex/quasar_z/icml2015/main.pdf
tex/quasar_z/icml2015/*.pdf
tex/quasar_z/icml2015/supplement/*.pdf
tex/quasar_z/icml2015/supplement/*.zip

data/*.gz
data/*.bz2
*.swp
